// Software Heritage brand colors
$swh-red: #e20026;
$swh-orange: #ef4426;
$swh-light-orange: #f79622;
$swh-yellow: #fabf1f;
$swh-grey: #737373;

:root {
  --swh-red: #{$swh-red};
  --swh-orange: #{$swh-orange};
  --swh-light-orange: #{$swh-light-orange};
  --swh-yellow: #{$swh-yellow};
  --swh-grey: #{$swh-grey};
}

body {
  color: var(--swh-grey);
}

a {
  color: var(--swh-red);
}
a:hover, a:focus {
  color: var(--swh-orange);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--swh-red);
}

.btn, .button {
  background: var(--swh-orange);
  color: #fff;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 6px;
}

.btn:hover, .button:hover {
  background: var(--swh-light-orange);
}
